<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">
  <div class="container">
    <div class="header">
      <ion-title>Ravi de vous revoir</ion-title>
      <p class="subTitle">Connectez-vous pour accéder à votre compte</p>
    </div>

    <form (ngSubmit)="onLogin()" class="form">
      <div class="ion-padding">
        <!-- Email -->
        <ion-item>
          <ion-input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="Email"
            class="input"
          ></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-text *ngIf="showEmailError" color="danger" class="error-text">
          L'email est requis.
        </ion-text>

        <!-- Password -->
        <ion-item>
          <ion-input
            [type]="passwordType"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="Mot de passe"
            class="input"
          ></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-button
            fill="clear"
            slot="end"
            aria-label="Show/hide"
            (click)="changeInputPasswordType()"
          >
            <ion-icon
              slot="icon-only"
              [name]="passwordType === 'password' ? 'eye-off' : 'eye'"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-text *ngIf="showPasswordError" color="danger" class="error-text">
          Le mot de passe est requis.
        </ion-text>

        <!-- Login Button -->
        <ion-button expand="block" type="submit" color="primary" class="login-btn">
          Connexion
        </ion-button>

        <!-- Signup Link -->
        <div class="signupLink">
          <p>
            Nouveau membre ? <a [routerLink]="'/signup'" style="color:#FFC33F">S'inscrire maintenant</a>
          </p>
        </div>
      </div>
    </form>
  </div>

  <!-- Alert for Login Errors -->
  <ion-alert
    [isOpen]="showLoginError"
    [header]="'Erreur de connexion'"
    [message]="loginErrorMessage"
    [buttons]="['OK']"
    (ionAlertDidDismiss)="showLoginError = false"
  ></ion-alert>
</ion-content>
