<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="list" routerLink="/tabs/list">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create" routerLink="/tabs/create">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="native-feature" routerLink="/tabs/native-feature">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about" routerLink="/tabs/about">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
