<ion-header>
  <ion-toolbar>
    <ion-title>Créer un objet perdu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="createObject()">
    <ion-item>
      <ion-label position="stacked">Titre de l'objet</ion-label>
      <ion-input
        placeholder="Exemple : Clé USB"
        [(ngModel)]="title"
        name="title"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea
        placeholder="Exemple : Une clé USB noire de 16 Go."
        [(ngModel)]="description"
        name="description"
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Salle</ion-label>
      <ion-input
        placeholder="Exemple : Salle F13"
        [(ngModel)]="room"
        name="room"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Lien de l'image</ion-label>
      <ion-input
        type="url"
        placeholder="Exemple : https://via.placeholder.com/150"
        [(ngModel)]="imageUrl"
        name="imageUrl"
        required
      ></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" class="ion-margin-top">
      Ajouter l'objet
    </ion-button>
  </form>

  <ion-toast
    [message]="'Objet ajouté avec succès !'"
    [isOpen]="showToast"
    [duration]="2000"
    color="success"
    (ionToastDidDismiss)="showToast = false"
  ></ion-toast>
</ion-content>
