<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of items">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ item.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-thumbnail>
            <img [src]="item.imageUrl" alt="Image de l'objet" />
          </ion-thumbnail>
          <p>{{ item.description }}</p>
          <p>Salle : {{ item.room }}</p>
        </ion-card-content>

        <ion-footer class="ion-text-center">
          <ion-button color="tertiary" (click)="editItem(item)">Modifier</ion-button>
          <ion-button color="danger" (click)="deleteItem(item.id)">Supprimer</ion-button>
        </ion-footer>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
