<ion-header>
  <ion-toolbar>
    <ion-title>Objets Perdus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" alt="Image de l'objet" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <p>Salle : {{ item.room }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
